*{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
:root {
  --black: #4D4C59;
  --white: #FFFFFF;
  --purple: #6C63FF;
	--light-grey: #C8C8C8;
  --text-color: #9C9AB6;
  --button-hover:#2b2866;
}
body{
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  text-align: center;
}
.wrapper{
  display: flex;
  flex-direction: column-reverse;
  background-image: url('./images/top-image.svg'), url('./images/bottom-image.svg');
  background-repeat: no-repeat;
  background-position: center top, center bottom;
  padding-top: 150px;
  padding-bottom: 186px; 
}
.col-a{
  width: 100%;
  padding: 1rem;
}
h1{
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.375rem;
  letter-spacing: 0.105em;
  text-transform: uppercase;
  color: var(--purple);
  padding-bottom: 19px;
}
p {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.3125rem;
  padding: 46px 16px 31px 16px;
}
.col-a button{
  width: 160px;
}
.times{
  height: 99px;
  padding: 0 .625rem;
}
.times-text,
.times-number{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.times-text span{
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-transform: capitalize;
  color: var(--light-grey);
}
.times-number span{
  font-weight: 400;
  font-size: 2rem;
  line-height: 6.75rem;
  color: var(--black);
}
.times-number span:not(:last-child)::after{
  content: " : ";
}
.col-b{
  max-height: 435px;
  display: flex;
} 
.col-b img {
  width: 90%;
  margin: 0 auto;
}
.modal{
  border-radius: 8px;
  background-color: var(--black);
  color: var(--light-grey);
  left: 25vw;
  top: 20vh;
  position: fixed;
  width: 500px;
  z-index: 100;
}
.modal form{
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem 2rem;
  font-size: 1rem;
  text-align: left;
}
.modal form input{
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid var(--purple);
  border-radius: 10px;
}
.modal form input:focus{
  outline: 2px solid var(--purple);
  outline-offset: -4px;
}
.col-a button,
.modal form button {
  height: 46px;
  padding: 10px 32px 16px;
}
.col-a button,
.modal form button,
.modal form .button-close{
  transition: all .7s linear 200ms;
  border: none;
  cursor: pointer;
  background-color: var(--purple);
  color: var(--white);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 10px;
}
.modal form .button-close{
  position: absolute;
  top: 1rem;
  right: 2rem;
  padding: 5px 10px;
}
.col-a button:hover,
.modal form button:hover,
.modal form .button-close:hover{
  background-color: var(--button-hover);
}
.closed{
  display: none;
}
@media(min-width: 425px){
  .times{
    padding: 0 15vw; 
  }
  .times-number span{
    font-size: 2.5rem;
  }
}
@media (min-width: 768px){
  h1{
    font-size: 2.25rem;
  }
  .times{
    padding: 0 20vw; 
  }
  .times-number span{
    font-size: 2.8125rem;
  }
  .col-b img{
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .wrapper{
    flex-direction: row;
    justify-content: space-between;
    gap: 19px;
  }
  .col-a,
  .col-b{
    width: 50%;
  }
  .col-a{
    padding: 0 0 0 60px;
  }
  .col-b{
    padding-right: 60px;
  }
  .times{
    padding: 0;
  }
  .times-number span{
    font-size: 3.5rem;
  }
} 
@media (min-width: 1280px){
  .times-number span{
    font-size: 4.5rem;
  }
}